In [1]:
import sqlite3
import pandas as pd

In [2]:
ls Data

album.db* test.db*  world.db*

# I. Preparation

1) SQL

In [19]:
# Create connection
conn_album = sqlite3.Connection('Data/album.db') 
conn_test = sqlite3.Connection('Data/test.db')
conn_world = sqlite3.Connection('Data/world.db')

# Create cursor object
cur_album = conn_album.cursor()
cur_test = conn_test.cursor()
cur_world = conn_world.cursor()

In [44]:
def display_sql(cur):
    df = pd.DataFrame(cur.fetchall())
    print(df)
    df.columns = [x[0] for x in cur.description]
    return df

2) DataFrame

In [45]:
def df_table(cur,name):
    cur.execute("""SELECT * FROM {};""".format(name))
    df = pd.DataFrame(cur.fetchall())
    
    df.columns = [x[0] for x in cur.description]
    return df

In [46]:
album=df_table(cur_album,'album')
track=df_table(cur_album,'track')

customer=df_table(cur_test,'customer')
item=df_table(cur_test,'item')
sale=df_table(cur_test,'sale')

city=df_table(cur_world,'city')
country=df_table(cur_world,'country')

# II. Problem

1) Create a table and insert, delete, and update the data, then delete this table

In [50]:
cur_album.execute("""SELECT * FROM dummy""")

In [51]:
#SQL
#Let say this new table is in album db

cur_album.execute("""DROP TABLE IF EXISTS dummy;""")
cur_album.execute("""CREATE TABLE dummy (Country TEXT, infected INTEGER);""")
cur_album.execute("""INSERT INTO dummy (Country,infected) VALUES ('USA', 502876);""")
cur_album.execute("""INSERT INTO dummy (Country,infected) VALUES ('SPAIN', 158273);""")

cur_album.fetchall()

[]

In [49]:
df_table(cur_album,dummy)

NameError: name 'dummy' is not defined